/* Stylesheet for the main view. */

#wrapper {
    -fx-background-color: #FFFFFF;
    -fx-font-family: 'Open Sans Light';
    -fx-font-size: 11pt;

    -fx-border-color: #5B5B5B;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

#window_controls {
    -fx-background-color: #0B77B5;
    -fx-padding: 5 5 5 5;
}
