
#vertex {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#vertexText {
	 -fx-font-smoothing-type: lcd; 
	 -fx-fill: #f8f8ff;
	 -fx-font: 20.0 Tahoma;	
	 -fx-text-alignment: center;
	 

}
